<h1>Bargain</h1>

<%= form_with model: @rent do |form| %>
  <div>
    <%= form.label :price %><br>
    <%= form.text_field  :price %>
  </div>

  <div>
    <%= form.label :ride_id %><br>
    <%= form.text_field :ride_id %>
  </div>
  <br> 
  <div>
    <%= form.submit "Bargain" %>
  </div>
<% end %>


<%= link_to 'Show', @rent %> |
<%= link_to 'Back', rents_path %>
